body {
    background-image: url(img/ultimatum-bg.jpg);
    background-repeat:  no-repeat;
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    color: white;
    margin-top: 108px;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%
}

.header {
    display: block;
    margin: 0 auto;
}

.btn {
    border: none;
    width: 100px;
}