body {
    background-image: url(img/topbg.png);
    background-repeat:  no-repeat;
    background-color: black;

}

.border_video {
    width: 1260px;
    height: 708px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.image {
    width: 1260px;
    height: 708px;
}

.video_container {
    position: absolute;
    top:  85px;
    left: 420px;
    width: 1200px;
}

.video {
    border: none;
    border-radius: 10px;
}

.panel1bg {
    display: block;
    margin: 200px auto;
}

.paneltitleleft {
    display: block;
    width: 40%;
    padding: 100px 0 0 150px;
}

.paneltitleright {
    display: block;
    width: 40%;
    padding: 100px 0 0 800px;
}

.panel1 {
    background-image: url(img/Panel1.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel2 {
    background-image: url(img/Panel2.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel3 {
    background-image: url(img/Panel3.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel4 {
    background-image: url(img/Panel4.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel5 {
    background-image: url(img/Panel5.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel6 {
    background-image: url(img/Panel6.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel7 {
    background-image: url(img/Panel7.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel8 {
    background-image: url(img/Panel8.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel9 {
    background-image: url(img/Panel9.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel10 {
    background-image: url(img/Panel10.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel11 {
    background-image: url(img/Panel11.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel12 {
    background-image: url(img/Panel12.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel13 {
    background-image: url(img/Panel13.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel14 {
    background-image: url(img/Panel14.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel15 {
    background-image: url(img/Panel15.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel16 {
    background-image: url(img/Panel16.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel17 {
    background-image: url(img/Panel17.jpg);
    height: 700px;
    width: 1600px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.contentleft p {
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: 100% 97%;
    width: 39%;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
    word-spacing: 0.7px;
    margin-left: 150px;
    color: rgb(189, 200, 219);
}

.contentright p {
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    background-size: 100% 97%;
    width: 39%;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    word-spacing: 0.7px;
    margin-left: 800px;
    color: rgb(189, 200, 219);
}

.purchase {
    margin-left: 150px;
   
}

.foot{
    display: block;
    width: 300px;
    margin: 100px auto 100px;
}

.fab {
    color: #605441;
    margin-right: 30px;
}

.fab:hover {
    color: white;
}