    * {
        margin: 0;
    }
    
    .header_ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-right: 250px;
    }
    
    nav {
        background-color: rgba(17, 59, 91, 0.75);
        z-index: 2;
        height: 96px;
        position: fixed;
        display: flex;
        align-items: center;
        opacity: 1;
        backdrop-filter: saturate(180%) blur(20px);
        width: 100%;
        justify-content: space-between;
        border-bottom: solid 2px rgb(255, 255, 255);
    }
    
    a {
        text-decoration: none;
        color: #113B5B;
    }
    
    .bloc_title a:visited {
        text-decoration: none;
        color: #113B5B;
    }
    
    .header_li {
        font-family: "Poppins";
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 15px;
    }
    
    .header_li:hover {
        color: #FFCC1D;
        text-decoration: underline 3px;
        text-underline-offset: 1rem;
    }
    
    .logo {
        display: flex;
        margin-left: 200px;
        cursor: pointer;
        height: 35px;
        width: 55px;
    }
    
    .far {
        color: rgb(255, 255, 255);
        cursor: pointer;
        margin-left: 20px;
    }
    
    .fas {
        margin-right: 10px;
    }
    
    .fab {
        color: #ffffff;
        margin: 0 20px;
    }
    
    .fab:hover {
        color: #FFCC1D;
    }
    
    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 875px;
        z-index: 1;
        --scale: 1;
        transform: scale(var(--scale));
        background: linear-gradient(135deg, rgba(17, 59, 91, 0.75) 0%, rgba(17, 59, 91, 0.5)), url("img/DSC08761-min-scaled.jpg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: tomato;
        justify-content: space-evenly;
        height: 30%;
        width: 60%;
    }
    
    .btnforma {
        border: none;
        width: 496px;
        height: 43px;
        cursor: pointer;
        line-height: 43px;
        background-color: #FFCC1D;
        color: #113B5B;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        margin-top: 25px;
        font-weight: bold;
    }
    
    .btnforma:hover {
        background-color: #ffffff;
    }
    
    .pev {
        font-family: "Poppins";
        font-size: 36px;
        color: white;
        font-weight: 800;
    }
    
    .led {
        font-family: "Poppins";
        font-size: 76px;
        color: white;
        font-weight: 800;
    }
    
    .num {
        font-family: "Poppins";
        font-size: 76px;
        color: #FFCC1D;
        font-weight: 800;
        margin-bottom: -20px;
    }
    
    .byc {
        font-family: "Comfortaa";
        font-size: 36px;
        color: white;
        font-weight: 800;
    }
    
    .bycamp {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-right: 250px;
    }
    
    .logos {
        background-color: #113B5B;
        height: 200px;
        width: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logos img {
        max-width: 200px;
        max-height: 100px;
    }
    
    .toto {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }
    
    .ptitraitjaune {
        height: 30px;
        background-color: #FFCC1D;
    }
    
    .h2nfm {
        display: flex;
        justify-content: center;
        font-family: "Poppins";
        margin-top: 75px;
        color: #113B5B;
        font-size: 59px;
        font-weight: 800;
    }
    
    .text1 {
        display: flex;
        text-align: center;
        align-items: center;
        font-family: "Poppins";
        color: #113B5B;
        width: 60%;
    }
    
    .nosformnum {
        background-color: #F4F1F0;
    }
    
    .titletext {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .case {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .test {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .case0 {
        display: flex;
        align-items: center;
        font-family: "Poppins";
        text-align: right;
        font-size: 28px;
        font-weight: 800;
        color: #113B5B;
        margin: 15px 15px;
        height: 250px;
        width: 250px;
    }
    
    .case5 {
        display: flex;
        align-items: center;
        font-family: "Poppins";
        font-size: 28px;
        font-weight: 800;
        margin: 15px 15px;
        color: #113B5B;
        height: 250px;
        width: 250px;
    }
    
    .marltitle {
        font-family: "Poppins";
        color: #113B5B;
        font-size: 65px;
        font-weight: 800;
    }
    
    .marlsub {
        font-family: 'Racing Sans One';
        font-size: 20px;
        font-weight: 200;
        color: #FFCC1D;
    }
    
    .marlp {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
        color: #113B5B;
    }
    
    .marlbtn {
        width: 248px;
        height: 43px;
        border: none;
        font-family: "Poppins";
        transition: transform 0.2s;
        cursor: pointer;
        font-size: 18px;
        margin-top: 25px;
        font-weight: 700;
        color: #113B5B;
        background-color: #FFCC1D;
        box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    }
    
    .marlbtn:hover {
        transform: scale(1.1);
    }
    
    .photobox {
        display: flex;
        align-items: center;
    }
    
    .marlphoto {
        display: flex;
        width: 494px;
        height: 329px;
    }
    
    .marlene {
        display: flex;
        width: 100%;
        animation: slidein 0.5s, fadein 1s;
        opacity: 1;
        justify-content: center;
    }
    
    @keyframes slidein {
        from {
            margin-left: -50%;
        }
        to {
            margin-left: 0%;
        }
    }
    
    @keyframes fadein {
        0% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }
    
    .marlen {
        display: flex;
        width: 40%;
        margin-right: 50px;
        flex-direction: column;
    }
    
    .lieu {
        display: flex;
        width: 100%;
        margin-bottom: 50px;
        justify-content: center;
        animation: slideinn 0.5s, fadein 1s;
    }
    
    @keyframes slideinn {
        from {
            margin-left: 50%;
        }
        to {
            margin-left: 0%;
        }
    }
    
    .lieuu {
        display: flex;
        width: 40%;
        margin-left: 50px;
        flex-direction: column;
    }
    
    .knowmore {
        width: 196px;
        height: 43px;
        font-family: "Poppins";
        cursor: pointer;
        font-size: 18px;
        transition: transform 0.2s;
        margin-top: 25px;
        font-weight: 700;
        border: none;
        color: white;
        background-color: #113B5B;
        box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    }
    
    .knowmore:hover {
        transform: scale(1.1);
    }
    
    .space {
        height: 100px;
    }
    
    .projecttitle {
        font-family: "Poppins";
        color: #113B5B;
        font-size: 65px;
        font-weight: 800;
    }
    
    .projp {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        margin: 15px 25px;
        color: #113B5B;
    }
    
    .project {
        background-color: #F4F1F0;
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        align-items: center;
        width: 100%;
    }
    
    .projectp {
        display: flex;
        text-align: justify;
        width: 80%;
    }
    
    .projbtn {
        width: 196px;
        height: 43px;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: transform 0.2s;
        margin: 30px 0 200px 0;
        border: none;
        color: white;
        background-color: #113B5B;
        box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    }
    
    .projbtn:hover {
        transform: scale(1.1);
    }
    
    .blog {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-top: 75px;
        background-color: #113B5B;
    }
    
    .blogtitle {
        font-family: "Poppins";
        color: #ffffff;
        font-size: 65px;
        font-weight: 800;
    }
    
    .blogsub {
        font-family: 'Racing Sans One';
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 25px;
        color: #ffffff;
    }
    
    .bloctitle {
        font-family: "Poppins";
        color: #113B5B;
        text-align: center;
        font-weight: 800;
        cursor: pointer;
        width: 80%;
    }
    
    .blocreadm {
        font-family: 'Racing Sans One';
        font-size: 12px;
        color: #113B5B;
        cursor: pointer;
        font-weight: 400;
    }
    
    .bloc_container {
        display: grid;
        grid-gap: 25px;
        width: 950px;
        background-color: #113B5B;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .bloc1 img {
        width: 300px;
        height: 200px;
        cursor: pointer;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        object-fit: cover;
    }
    
    .bloc1 {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        width: 100%;
        width: 300px;
        height: 378px;
        background-color: white;
    }
    
    .bloc_title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 178px;
        width: 300px;
    }
    
    .blogbtn {
        width: 248px;
        height: 43px;
        border: none;
        font-family: "Poppins";
        cursor: pointer;
        font-size: 18px;
        margin: 50px 0 200px 0;
        transition: transform 0.2s;
        font-weight: 700;
        color: #113B5B;
        background-color: white;
    }
    
    .blogbtn:hover {
        transform: scale(1.1);
    }
    
    .parttitle {
        font-family: "Poppins";
        text-align: center;
        margin: 40px 0;
        font-size: 32px;
        color: #113B5B;
        font-weight: 800;
    }
    
    .partlogo {
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        width: 60%;
        height: 160px;
    }
    
    .plogo img {
        max-width: 160px;
        max-height: 160px;
    }
    
    .plogo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .backimage {
        display: flex;
        justify-content: center;
        height: 1000px;
        background: linear-gradient(135deg, rgba(17, 59, 91, 0.75) 0%, rgba(17, 59, 91, 0.5)), url("img/stairs-min-scaled.jpg");
        z-index: 1;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .partjoin {
        font-family: "Poppins";
        font-size: 44px;
        cursor: pointer;
        font-weight: 800;
        color: #ffffff;
        margin-top: 400px;
    }
    
    .title_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .allformtitle {
        font-family: "Poppins";
        color: #113B5B;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 800;
    }
    
    .formabtn {
        width: 304px;
        height: 46px;
        font-family: "Poppins";
        cursor: pointer;
        font-size: 16px;
        transition: transform 0.2s;
        font-weight: 800;
        border: none;
        color: white;
        background-color: #113B5B;
    }
    
    .formabtn:hover {
        transform: scale(0.9);
    }
    
    .liste {
        display: flex;
        justify-content: space-between;
        margin: 0 300px;
    }
    
    .listbloc {
        list-style: disc;
        font-family: "Poppins";
        font-size: 16px;
        color: #113B5B;
        margin: 15px;
    }
    
    .allform {
        margin-bottom: 50px;
    }
    
    .footer {
        background-color: #113B5B;
        padding-top: 75px;
    }
    
    .ledf {
        font-family: "Poppins";
        font-size: 43px;
        font-weight: 800;
        color: #ffffff;
    }
    
    .title_sub {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logosocial {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .titlef {
        font-family: "Poppins";
        font-size: 43px;
        font-weight: 800;
        color: #FFCC1D;
        margin-bottom: -15px;
    }
    
    .subf {
        font-family: "Poppins";
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .contactus {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FFCC1D;
        width: 562px;
        height: 66px;
        margin-bottom: 50px;
    }
    
    .contp {
        font-family: "Poppins";
        font-size: 17px;
        color: #113B5B;
        font-weight: 300;
    }
    
    .cont {
        font-family: "Poppins";
        font-size: 26px;
        margin-top: -12px;
        color: #113B5B;
        font-weight: 800;
    }
    
    .contbtn {
        font-family: "Poppins";
        font-size: 16px;
        color: white;
        font-weight: 800;
        cursor: pointer;
        border: none;
        width: 159px;
        height: 46px;
        background-color: #113B5B;
    }
    
    .contbtn:hover {
        background-color: #ffffff;
        color: #113B5B;
    }
    
    .footer {
        display: flex;
        width: 100%;
        height: 850px;
        flex-direction: column;
        align-items: center;
        border-bottom: solid 5px #FFCC1D;
    }
    
    .footer_column {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    
    .columntitle {
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .columnp {
        font-family: "Poppins";
        font-size: 14px;
        cursor: pointer;
        transition: transform 0.2s;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        margin: 10px;
    }
    
    .columnp:hover {
        transform: scale(1.2);
    }
    
    .column1 {
        width: 367px;
    }
    
    .corptitle {
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 400;
        margin: 10px;
        color: #ffffff;
    }
    
    .ptitelignep {
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 400;
        margin-top: 50px;
        color: #ffffff;
    }
    
    .ptitelignesp {
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 800;
        color: #FFCC1D;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        justify-content: flex-end;
        align-items: center;
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: hidden;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        opacity: 1;
        animation: fade 0.5s linear;
    }
    
    @keyframes fade {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #FFCC1D;
        padding: 20px;
        border: 1px solid #888;
        width: 450px;
        /* Could be more or less, depending on screen size */
    }
    /* The Close Button */
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .formtitle {
        font-family: "Poppins";
        font-size: 26px;
        font-weight: 800;
        color: #113B5B;
    }
    
    .formp {
        font-family: 'Racing Sans One';
        font-size: 15px;
        font-weight: 400;
        color: #113B5B;
        margin-bottom: 15px;
    }
    
    .formnum {
        font-family: "Poppins";
        font-size: 17px;
        font-weight: 800;
        text-align: center;
        margin-top: 15px;
        color: #113B5B;
    }
    
    .champ {
        width: 250px;
        height: 40px;
        padding: 8px 16px;
        margin-left: 90px;
        margin-bottom: 10px;
    }
    
    .formbtn {
        font-family: 'Racing Sans One';
        font-size: 20px;
        width: 250px;
        height: 40px;
        font-weight: 400;
        color: #ffffff;
        cursor: pointer;
        margin-left: 105px;
        border: none;
        background-color: #113B5B;
    }
    
    .flip-box {
        display: flex;
        align-items: center;
        text-align: center;
        background-size: cover;
        font-family: "Poppins";
        cursor: pointer;
        color: white;
        margin: 15px 15px;
        height: 250px;
        width: 250px;
    }
    
    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }
    
    .flip-box-front1,
    .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .flip-box-front1 {
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, rgba(17, 59, 91, 0.40) 0%, rgba(17, 59, 91, 0.40)), url("img/photo-1593642532400-2682810df593-min.jpeg");
        background-size: cover;
        color: rgb(255, 255, 255);
    }
    
    .flip-box-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #113B5B;
        color: white;
        transform: rotateY(180deg);
    }
    
    .flip-box-back button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid #ffffff;
        font-family: "Racing Sans One";
        font-size: 13px;
        padding: 10px 20px;
        font-weight: 500;
        border-radius: 2px;
        cursor: pointer;
        color: white;
    }
    
    .flip-box-back button:hover {
        background: #ffffff;
        color: #113B5B;
    }
    
    .flip-box-front2 {
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, rgba(17, 59, 91, 0.40) 0%, rgba(17, 59, 91, 0.40)), url("img/photo-1519389950473-47ba0277781c-min.jpeg");
        background-size: cover;
        color: rgb(255, 255, 255);
    }
    
    .flip-box-front2,
    .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .flip-box-front3 {
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, rgba(17, 59, 91, 0.40) 0%, rgba(17, 59, 91, 0.40)), url("img/DSC08747-min-scaled.jpg");
        background-size: cover;
        color: rgb(255, 255, 255);
    }
    
    .flip-box-front3,
    .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .flip-box-front4 {
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, rgba(17, 59, 91, 0.40) 0%, rgba(17, 59, 91, 0.40)), url("img/DSC08841-min-scaled.jpg");
        background-size: cover;
        color: rgb(255, 255, 255);
    }
    
    .flip-box-front4,
    .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }